{% extends "layout.html" %}

{%block title%}Diary{%endblock%}

{%block navButtons%}
<li><a style="cursor:pointer;" onclick="signout()" onsubmit="signout()">Sign Out</a></li>
<li><a href="/about">About</a></li>
{%endblock%}

{%block title_bar_text%}  Notes {%endblock%}

{%block extra_buttons_on_title_bar%}
<div id="div_half_button">
    <button onclick="show_addNote_form()" id="half-out-button" class="half-out-button"></button>
    <b onclick="show_addNote_form()" class="textOfButton">+</b>
</div>
{%endblock%}

{% block body %}
<div style="width: 100%; background-color: transparent; height: 100px; justify-content: center; text-align: center; margin-top: 15px;">
    <form method="POST"> 
        <select class="select_dropdown" id="Course">
            <option value="engg">Engineering</option>
          </select>

          <select class="select_dropdown" id="Branch" onchange="branch_selected(this)">
            <option value="none">Select Branch</option>
            <option value="computers">Computers</option>
            <option value="mechanical">Mechanical</option>
          </select>

          <select class="select_dropdown" onchange="subject_selected(this)" id="Year">
            <option value="none">Select Year</option>
            <option value="se">Second Year</option>
            <option value="te">Third Year</option>
            <option value="be">Final Year</option>
          </select>

          <select class="select_dropdown" id="Subject" onchange="load_notes(this)"></select>
          
          <br>
          <!-- <button style="margin-top: 10px; border: 2px solid var(--mainbg)" > Search </button> -->
        </form>

    </div>

</div>

<div class="bg-modal-add-note">
    <div class="modal-contents-add-note">
        <div onclick="closeform_addNote()" style="margin-bottom: 5px;" class="close">+</div>
        <form method="post" autocomplete="off">
            <div class="form-group">
                <label for="category" style="font-family: Lovelo">Unit</label>
                <input type="text" autofocus id="buttonAddCategory" required="required">
            </div>
            <div class="form-group">
                <label for="note" style="font-family: Lovelo">Note</label>
                <input type="text" id="buttonAddNote" required="required">
            </div>
            <div class="form-group">
                <button id="ButtonActuallyAddNote" type="submit" style="font-family: Lovelo" onsubmit="return actually_addNote();" onclick="return actually_addNote();">Add Note</button>
            </div>
        </form>
    </div>
</div>

<div class="bg-modal-edit-note">
    <div class="modal-contents-editNote">
        <div onclick="closeform_editNote()" class="close">+</div>
        <form method="post" autocomplete="off">
            <div class="form-group">
                <label for="category" style="font-family: Lovelo">Unit</label>
                <input type="text" name="inputEditCategory" id="inputEditCategory" required="required">
            </div>
            <div class="form-group">
                <label for="note" style="font-family: Lovelo">Note</label>
                <input type="text" name="inputEditNote" id="inputEditNote" required="required">
            </div>
            <div class="form-group">
                <button id="ButtonEditNote" type="submit" style="font-family: Lovelo" onsubmit="return editNote_submitted();" onclick="return editNote_submitted();">Edit Note</button>
            </div>
        </form>
    </div>
</div>

<center>
    <ul class="notes" onload="ajax_main()">
        {% for i in range(0, notes|length) %}
        <li>
            <ul class="pack">
                <li style="user-select: none; margin-bottom: 0px;">
                    <!-- <b style="font-size: 18px; font-style: italic;">Category : </b> -->
                    <b id="cat{{i}}" style="font-size: 16px; font-style: italic; color:coral; font-family: Lovelo; margin-right: 10px;">{{category[i]}}</b> | <b id="fac{{i}}" style="margin-left: 10px; font-size: 14px; font-style: italic; color:purple; font-family: Lovelo;"> {{faculty[i]}}</b><br>
                </li> 
                    <b style="font-size: 19px;">
                        <i>
                            <li class="note" id="li{{i}}" onclick="noteClick(document.getElementById('cat{{i}}').innerHTML, document.getElementById('li{{i}}').innerHTML, document.getElementById('fac{{i}}').innerHTML)">{{
                        notes[i] }}
                    </li>
                </i></b>
                <i>
                    <li class="date" style="user-select: none">{{ dates[i] }}</li>
                </i>
            </ul>
        </li>
        {% endfor %}
    </ul>
</center>

<div class="bg-modal-noteclick">
    <div class="modal-contents-noteclicked">
        <!--<div class="forFont" id="forFont"></div>-->
        <div onclick="closeform_noteclicked()" class="close">+</div>
        <ul class="note-clicked">
            <li onclick="return show_editNode_form();" style="font-family: Verdana, Geneva, Tahoma, sans-serif"><b class="editButton">EDIT</b></li>
            <li onclick="return deleteNote();" style="font-family: Verdana, Geneva, Tahoma, sans-serif"><font color='red'><b class="delButton" id="deleteText">DELETE</b></font></li>
        </ul>
    </div>
</div>

{% endblock %}