{% extends "layout.html" %}

{%block title%}Die-ry - Login{%endblock%}

{%block script%}
{%endblock%}

{%block body%}
<br>
<h2 align="center" style="padding-top:20px;">Login</h2>

<form align="center" method="post" style="padding-top:10px;"
      onsubmit="return checkLogin();" autocomplete="off">
    <font id="alert" color="red" size="3px"></font><br><br>
    <b><i>Username: </i></b><input autofocus id="uname" type="text" name="uname" placeholder="shamoilarsi" required><br><br>
    <b><i>Password: </i></b><input id="password" type="password" name="pass" placeholder="********" required><br><br>
    <button type="submit">Login</button>
</form>

{%endblock%}